@font-face {
  font-family: AlloyInk;
  src: url("AlloyInk.ttf");
}

h1 {
  position: absolute;
  font-family: AlloyInk;
  font-size: 50px;
  text-align: left;
  margin-left: 265px;
  color: red;
}

#results-overlay {
  position: absolute;
  left: auto;
  right: auto;
  width: 1200px;
  height: 700px;
  border: 2px solid black;
  z-index: var(--zposition);
}

#arena {
  position: absolute;
  left: auto;
  right: auto;
  top: 100px;
  border: 2px solid grey;
  width: 1200px;
  height: 700px;
}

#mat {
  position: absolute;
  top: 0;
  left: 240px;
  height: 100%;
}

#computer-score {
  position: absolute;
  font-family: AlloyInk;
  text-align: left;
  left: -150px;
  color: black;
}

#player-score {
    position: absolute;
    font-family: AlloyInk;
    text-align: left;
    left: 800px;
    color: black;
  }

  #round-count {
    position: absolute;
    font-family: AlloyInk;
    color: white;
    font-size: 35px;
    text-align: left;
    left: 525px;
    top: 50px;
    z-index: 9999;
  }

#computer-label {
  position: absolute;
  font-family: AlloyInk;
  color: red;
  left: 70px;
}

#player-label {
  position: absolute;
  font-family: AlloyInk;
  color: red;
  left: 965px;
}

#result-label {
  position: absolute;
  font-family: AlloyInk;
  color: green;
  font-size: 50px;
  z-index: 9999;
  text-align: center;
  left: 450px;
  top: 125px;
  visibility: var(--visible);
}

#left-rock {
  position: absolute;
  top: var(--top);
  left: var(--left);
  height: 25%;
  content: var(--left-rock);
  transform: var(--left-rock-rotate);
}

#left-paper {
  position: absolute;
  top: var(--top);
  left: var(--left);
  height: 25%;
  content: var(--left-paper);
  transform: var(--left-paper-rotate);
}

#left-scissors {
  position: absolute;
  top: var(--top);
  left: var(--left);
  height: 25%;
  content: var(--left-scissors);
  transform: var(--left-scissors-rotate);
}

#right-rock {
  position: absolute;
  top: var(--top);
  left: var(--left);
  height: 25%;
  content: var(--right-rock);
  transform: var(--right-rock-rotate);
}

#right-paper {
  position: absolute;
  top: var(--top);
  left: var(--left);
  height: 25%;
  content: var(--right-paper);
  transform: var(--right-paper-rotate);
}

#right-scissors {
  position: absolute;
  top: var(--top);
  left: var(--left);
  height: 25%;
  content: var(--right-scissors);
  transform: var(--right-scissors-rotate);
}

#explosion {
  position: absolute;
  top: 250px;
  left: 490px;
  z-index: 9999;
  height: 30%;
  visibility: var(--visible);
}
